html {
    background: linear-gradient(rgb(183, 201, 238), rgb(130, 146, 179));
    height: 100%;
    min-height: 100vh;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.field {
    flex: 1;
    flex-basis: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 0 0.5% 16px 0.5%;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.label {
    color: #333;
    font-size: 82%;
    display: block;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
}
.option {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
    padding: 4px;
    margin: 0 1%;
    background: linear-gradient(#dedede, #ccc);
}
.option:active {
    background: linear-gradient(#c4b8b8, #999);
}
.option.selected {
    border-color: #999;
    opacity: 1;
    background: linear-gradient(#fff, #dedede);
}
input {
    cursor: text;
    outline: none;
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 4px;
    margin: 0 1%;
    color: #2c3e50;
}
.paragraph {
    text-align: left;
    margin-top: 0;
}

@media screen and (min-width: 920px) {
    .flex {
        flex-direction: row;
    }
}